/* Tumblr Boilerplate by Joe Joiner | MIT License | git.io/yvzrLg */

body {
    font-size: 1em;
    line-height: 1.5;
    color: {color:Body Text};
}

audio,
img,
video {
    vertical-align: middle;
}

blockquote {
    quotes: '\201C' '\201D' '\2018' '\2019';
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

textarea {
    resize: vertical;
}
